{% extends 'base.html' %}

{% block content %}
This is the template file for a collection.<p>

  {% if object["_parent"] %}
    <small><a href="{{ _parent["_url"] }}">{{ _parent["name"] }}</a></small>
  {% endif %}

<p>
Here are the contents:
<ul>
{% for file in object.files %}
  <li><a href="{{ file["_url"] }}">{{ file['_filename'] }}</a> on {{ file["date"] }}</li>
{% endfor %}
</ul>
</p>


<p>
Here are the sub-contents:
<ul>
{% for name, collection in object.collections.items() %}
  <li><a href="{{ collection["_url"] }}">{{ collection["name"] }}</a></li>
{% endfor %}
</ul>
</p>


{% endblock content %}
